<div class="container">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)">{{alert.msg}}</alert>
    <div class='row'>
        <div class="col-md-8 col-md-offset-2 thumbnail">
            <div class="col-md-9">
                <h2>Price List: <span id='serviceRequestName'>{{serviceRequest.name}}</span>
                </h2>
                Estado: {{serviceRequest.status.name}}
            </div>
        </div>
    </div>
    <div class='row'>
        <div class="col-md-8 col-md-offset-2 thumbnail">
            <form name="reviewForm">
                <input class='review' ng-model='name' style='width: 100%; height: 3em;' placeholder="Tell others what you think about this contractor" /><br/>
                <label><input type="radio" ng-model="value" class='radio' ng-value="1"><br>1</label>
                <label><input type="radio" ng-model="value" class='radio' ng-value="2"><br>2</label>
                <label><input type="radio" ng-model="value" class='radio' ng-value="3"><br>3</label>
                <label><input type="radio" ng-model="value" class='radio' ng-value="4"><br>4</label>
                <label><input type="radio" ng-model="value" class='radio' ng-value="5"><br>5</label><br>
                <button class="submit btn btn-success btn-sm" ng-click="sendReview()" >Submit</button>
                {{reviewForm.$valid}}
            </form>
        </div>
    </div>
</div>
