<toolbar name="name" display-name="displayName" actions="ctrl.globalActions"></toolbar>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)">{{alert.msg}}</alert>
<div ng-if="!ctrl.editMode">
    <div ng-if="ctrl.asGallery">
        <gallery
            fields="model.fields"
            records="records"
            actions="ctrl.recordActions">
        </gallery>
    </div>
    <div ng-if="!ctrl.asGallery">
        <list-records
            fields="model.fields"
            records="records"
            actions="ctrl.recordActions">
        </list-records>
    </div>
    <div class="text-center">
        <pagination ng-if="ctrl.numPages > 1" num-pages="ctrl.numPages" total-items="ctrl.totalItems"
                    ng-model="ctrl.currentPage" ng-change="ctrl.pageChanged()" items-per-page="ctrl.itemsPerPage"
                    max-size="ctrl.maxSize" class="pagination-md" boundary-links="true" rotate="false"></pagination>
    </div>
</div>
<div ng-if="ctrl.editMode">
    <div class="well">
        <crud-form name="name" fields="model.fields" record="currentRecord"></crud-form>
    </div>
    <div id="childs" ng-if="model.childs">
        <ul class="nav nav-tabs">
            <li ng-repeat="child in model.childs"
                role="presentation"
                ng-class="{active: tab === child.name}"
                ng-if="child.owned || currentRecord.id">
                <a href ng-click="ctrl.changeTab(child.name)">{{child.displayName}}</a>
            </li>
        </ul>
        <div ng-repeat="child in model.childs"
             ng-if="tab === child.name && (child.owned || currentRecord.id)">
            <div child-controller></div>
        </div>
    </div>
</div>
